<h1>Welcome to Rainforest</h1>
<% if @products.count == 0%>
<h2> There is no products</h2>
<% else %>
<h2> There are <%= @products.count %></h2>
<% end %>

<div class="product">


<% @products.each do |product|%>
<%= product.name %> <%=product.price_in_cents %>
<p><%= product.description%> </p>
<% end %>
</div>
